<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Series Predictor</title>
    <style>
        /* Add your CSS styling here */
    </style>
</head>
<body>
    <h1>Time Series Predictor</h1>
    <input type="file" id="fileInput" accept=".csv">
    <button onclick="uploadFile()">Upload File</button>

    <script>
        function uploadFile() {
    const fileInput = document.getElementById('fileInput');
    const file = fileInput.files[0];

    if (file) {
        const formData = new FormData();
        formData.append('file', file);

        fetch('http://127.0.0.1:5000/predict', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('file uploading');
            console.log('Prediction result:', data);
            // Use the prediction result as needed
        })
        .catch(error => console.error('Error:', error));
    } else {
        alert('Please select a file.');
    }
}


    </script>
</body>
</html>
